body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 88%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    background-color: hsl(122, 38%, 50%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: hsl(122, 38%, 40%);
}

.card{
    background: linear-gradient(180deg, hsl(210, 91%, 71%), hsl(40, 87%, 66%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 1%, 26%);
    border-radius: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(75,75,75);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}

.weatherEmoji{
    margin:0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(75, 75, 75);
}