body{
    background-color: rgb(227, 255, 136);
}

#myH1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container{   
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 300px;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(85, 211, 222);
}

#submit{
    display: auto;
    width: 5em;
    padding: 5px;
    color: white;
    background-color: rgb(73, 73, 186);
    border: 3px solid rgb(62, 62, 62);
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(36, 36, 133);
}

.inputs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.output{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
}

input{
    height: 2em;
    width: 15em;
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}